<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 <title>Direct Post Tester</title>

<style type="text/css">

dd { margin-left: 75px; }

#mode_margin { margin-left: 0px; }

</style>

</head>

<body>
    
<h1 align="center">Payment Methods</h1>
                              

        <div>

            <h2>         

                <input type=radio name=formOfPayment id=formOfPayment value=CreditCard />

                    Pay by Credit Card</h2>            

        </div>     

         

        <dt>Card Number</dt>

        <dd>

            <input type="text" id="cc_no" name="cc_no" value="4111111"/>

            <span id="err_cc_no" class="jserror"> </span>

        </dd>           

        <dt>Expiry Date</dt>

        <dd>

            <table cellpadding="0" cellspacing="0">

                <tr>

                    <td><select id="cc_exp_mm" name="cc_exp_mm">

                            <option value="">Month</option>
                        <option value="1" selected="selected">January</option>                                

                            <option value="2">February</option>                             

                            <option value="3">March</option>                          

                            <option value="4">April</option>                          

                            <option value="5">May</option>                           

                            <option value="6">June</option>                           

                            <option value="7">July</option>                          

                            <option value="8">August</option>                            

                            <option value="9">September</option>                    

                            <option value="10">October</option>                             

                            <option value="11">November</option>                            

                            <option value="12">December</option>                            

                        </select></td>                        

                    <td width="20">&nbsp;</td>                        

                    <td><select id="cc_exp_yyyy" name="cc_exp_yyyy">
<option value="">Month</option>

                            <option value="2016" selected="selected">2016</option>                                

                            <option value="2017">2017</option>                             

                            <option value="2018">2018</option>                          

                            <option value="2019">2019</option>                          

                            <option value="2020">2020</option>                           

                            <option value="2021">2021</option>                           

                            <option value="2022">2022</option>                          

                            <option value="2023">2023</option>                            

                            <option value="2024">2024</option>                    

                            <option value="2025">2025</option>                             

                            <option value="2026">2026</option>                            

                            <option value="2027">2027</option>

<option value="2028">2028</option>                            

                            <option value="2029">2029</option>

<option value="2030">2030</option>

                        </select>                        

                    </td>                    

                </tr>                

            </table>            
       </dd>

        <dt>Security Code</dt>

        <dd>

            <input id="cvv" type="text" size="5" name="cvv" value="111"/>

        </dd>

        </dl>    

</fieldset>   
<br>
<br>
<br>
<h2>
  <input size="100px" type="radio" name="cash on delivery" >  
cash on delivery </h2>
<br>
<br>



<button align="center" type="button" onclick="alert('Thank you for selecting !')">next!</button>
    
</footer>

</body>

</html>

</html>                                   
.